@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-[#050510] text-white;
    }
}

/* Custom Utilities if needed */
.glass-panel {
    @apply bg-white/5 border border-white/10 backdrop-blur-md;
}

@layer utilities {
    .animate-meteor-effect {
        animation: meteor 5s linear infinite;
    }
}

@keyframes meteor {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(215deg) translateX(500px);
        opacity: 0;
    }
}